/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* styles.css or styles.scss */

.primary-color {
  background-color: #3778c2;
  color: #fff;
}

.secondary-color {
  background-color: #5fb523;
  color: #fff;
}

.text-color {
  color: #434b54;
}

.text-decore {
  text-decoration: none;
}

.category-icon {
  background-color: #fff;
  color: #3778c2;
  padding: 8px;
  border-radius: 50%;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-item {
  cursor: pointer;
  margin: 10px;
}

.selected-icon {
  color: #5fb523;
}

.category-item a {
  color: #000;
  transition: color 0.3s;
}

.category-item:hover a {
  color: #fff !important;
}

.category-item:hover {
  background-color: #5fb523;
  cursor: pointer;
  transition: background-color 0.3s;
}
