<header>
  <nav class="navbar navbar-expand-lg navbar-light primary-color">
    <div class="container">
      <button class="navbar-toggler text-decore" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand">
  <%= link_to '<i class="fas fa-hand-holding-usd"></i>'.html_safe, root_path, class: 'text-decor navbar-item text-white' %>
</div>

      
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-start">
          <% if user_signed_in? %>
            <%= link_to 'Categories', categories_path, class: 'navbar-item text-decore text-white'%>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
